
.luiz {
    display: flex;
    height: auto;
    width: min-content;
    flex-direction: row;
    justify-content: center;

}

.diogo {
    display: flex;
    height: auto;
    width: min-content;
    flex-direction: row;
    justify-content: center;
}

