
.luiz {
    display: flex;
    height: auto;
    width: min-content;
    flex-direction: row;
    justify-content: center;

}

.diogo {
    display: flex;
    height: auto;
    width: min-content;
    flex-direction: row;
    justify-content: center;
}

#linkedin {
    width: 25%;
    height: 1%;
    transition: 0.5s;
}

#linkedin:hover {
    width: 30%;
}