body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--cod-gray);
    font-family: arial;
    transition: 1s;
}

* {
    box-sizing: border-box;
}


div>h2 {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: 200%;
    color: var(--fall-green);
}

div>img {
    height: auto;
    width: 18em;

}

section {
    justify-content: flex-start;
    display: flex;
    margin: 5%;
    align-items: center;
}

p {
    color: #c9c9c9;
    margin: 4%;

}


button {
 
    padding: 5%;
    background-color: var(--cod-gray);
    transition: 0.5s;
}

button > a {
    font-size: 1.4em;
    text-decoration: none;
    color: var(--fall-green);
}

button:hover {
    background-color: gray;
    color: black;
}

@media (max-width: 600px) {

    .luiz {
        display: flex;
        flex-wrap: wrap;
    }

}