.background-escuro {
    background-color: var(--thatch-green);
}

/* Classe reutilizável, delimita o tamanho e posição dos elementos */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

.logo h2 {
    color: var(--bright);
    font-size: 2em;
}

.logo > img {
    width: 10em;
    height: auto;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 1em;
   
}

.ul li a {
    color: var(--fall-green);
}

main .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > ul > li {
    color: var(--fall-green);
    padding: 15% 0 0  1em;
    padding-left: 0;
    white-space: nowrap;
}

.header h1 {
    color: var(--yellow-green);
    padding: 10% 0 10% 0;
}

.header img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 300px ) {
    .header ul li {
        font-size: 5w;
    }
}
