:root {
    --dingley: #798146;
    --thatch-green: #343814;
    --fall-green: #eee9c1;
    --sapling: #dcd89d;
    --woodland: #504826;
    --indian-khaki: #beb68e;
    --yellow-green: #badf6f;
    --green-smoke: #b2ae72;
    --celery: #98bc51;
    --limeade: #448404;
    --bright: #A5EC1B;
    --dark: rgb(53, 45, 45);
}