body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--cod-gray);
    font-family: arial;
    justify-content: center;
    transition: 1s;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    margin: 0;
}

section > h2 {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: 2.5em;
    color: var(--fall-green);
}

section > img {
    height: 20em;
    align-items: center;
    transition: 1s;
}


section {
    margin: 10%;
    align-items: center;
    
}

p {
    color: #c9c9c9;
}


strong , img {
    padding: 1%;
}
