* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);

}

header {
    width: 100%;
    display: flex;
    background-color: var(--dingley);
    flex-direction: row;
    height: 8em;
}


h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--bright);
    align-items: center;
    display: inherit;
}


 nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    color: var(--yellow-green);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-top: 0;  
}

main {
    width: fit-content;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


a:hover {
    margin-left: 1em;
    transition: .08s;
}

header > img {
    margin-left: 2em;
}

