body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--cod-gray);
    font-family: arial;
    transition: 1s;
}

* {
    box-sizing: border-box;
}


section>h2 {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: 200%;
    color: var(--fall-green);
}

section>img {
    height: auto;
    width: 18em;

}

section {
    justify-content: flex-start;
    display: flex;
    margin: 5%;
    align-items: center;
}

p {
    color: #c9c9c9;
    margin: 4%;

}


img {
    padding: 1%;
}
