header {
    background-color: var(--thatch-green);
    display: flex;
    width: 100%;
    
}

body {
    background-color: var(--dark);
}

nav > img {
    width: 300px;
    height: 12em;
    padding: 3em ;
}

