:root {
    --dingley: #798146;
    --thatch-green: #343814;
    --fall-green: #eee9c1;
    --sapling: #dcd89d;
    --woodland: #504826;
    --indian-khaki: #beb68e;
    --yellow-green: #badf6f;
    --green-smoke: #b2ae72;
    --celery: #98bc51;
    --limeade: #448404;
    --bright: #A5EC1B;
    --dark: rgb(53, 45, 45);
    /* Paleta de cores escura */
    --laser: #ccbc74;
    --cod-gray: #1c1c1c;
    --double-colonial-white: #ebdba4;
    --black: #040404;
    --tuna: #34343c;
    --hurricane: #847c7c;
    --hopbush: #c060a0;
    --affair: #643c80;
    --chathams-blue: #1c3c84;
    --green-pea: #1c583c;
}