body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark);
}

header {
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


nav {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

main {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    color: var(--fall-green);
    padding: 16px 0;
}

article {
    width: 37.5em;
}

h2 {
    font-size: 1.7em;
    color: var(--yellow-green);
    font-weight: 400;
    text-justify: inter-word;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow-green);
    font-weight: 200;
}

footer {
    display: flex;
    background-color: var(--thatch-green);
    justify-content: center;
    width: 100%;

}

p {
    line-height: 1.5em;
    text-justify: inter-word;
    text-align: justify;
}